<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!--TODO <meta name="description" content=""/>-->
    <title>Template - Donkey Signage</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>
        @media only screen and (min-width: 993px) {
            main {
                padding-right: 300px !important;
            }
        }
    </style>


</head>

<body class="blue-grey lighten-5">
<header>
    <div th:replace="navbar :: navbar ('Template')"></div>
</header>

<main class="" style="margin-left: 5px; margin-right: 5px;">

    <div class="card-panel col s10 offset-s1">
        <div class="row">
            <div class="row">
                <div class="col s12 center">
                    <h2 th:utext="#{media.template}"></h2>
                </div>
            </div>
            <div class="row">
                <div class="divider col s10 offset-s1"></div>
            </div>

            <div class="input-field col s10 offset-s1">
                <input class="editableTemplate grey-text text-darken-2" placeholder="Placeholder" id="name" type="text"
                       disabled="disabled" th:value="${template.getName()}"/>
                <label for="name" class="grey-text" th:text="#{form.name}"></label>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <ul class="collection with-header">
                    <li class="collection-header"><h4 th:text="#{media.widgetList}"></h4></li>
                    <th:block th:each="widgetConfig : ${widgetConfList}">

                        <a th:href="${'#' + widgetConfig.getId()}" class="collection-item widget_item" th:id="${widgetConfig.getId()}"
                           th:text="${widgetConfig.getName()}">
                        </a>

                    </th:block>
                </ul>
            </div>

            <div class="row">
                <div class="col s12 center">
                    <a class="waves-effect waves-light btn modal-trigger blue " href="#addWidgetToTemplate"
                       th:utext="#{media.addWidget}"></a>
                </div>
            </div>

            <div class="row hide-to-edit">
                <div class="col s12 center">
                    <a class="waves-effect waves-light btn modal-trigger red" href="#delModal"
                       th:utext="#{form.delete}"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Right side, edit-->
    <ul id="slide-edit" class="sidenav sidenav-fixed" style="padding-top: 15px">
        <th:block th:each="widgetConfig : ${widgetConfList}">
            <div th:classappend="${'widget_' + widgetConfig.getId()}" class="modify-conf" hidden="hidden">
                <div class="row">
                    <div class="input-field col s10 offset-s1">
                        <input class="validate modify-input listen-edit valid"
                               th:classappend="${'modify_' + widgetConfig.getId() }"
                               th:id="${'modify_' + widgetConfig.getId() + '_name'}" min="0" max="12"
                               type="Text"
                               th:value="${widgetConfig.getName()}"/>
                        <label th:for="${'modify_' + widgetConfig.getId() + '_name'}" th:text="#{form.name}"></label>
                    </div>
                    <div class="input-field col s10 offset-s1">
                        <input type="Text" class="" disabled="disabled"
                               th:value="${widgetConfig.getWidgetId()}"
                               th:id="${'modify_' + widgetConfig.getId() + '_type'}"
                        />
                        <label th:for="${'modify_' + widgetConfig.getId() + '_type'}" th:text="#{media.widget}"></label>
                    </div>

                    <div class="input-field col s5 offset-s1">
                        <input class="validate modify-input listen-edit valid"
                               th:classappend="${'modify_' + widgetConfig.getId() }"
                               th:id="${'modify_' + widgetConfig.getId() + '_posX'}" min="0" max="12"
                               type="number"
                               th:value="${widgetConfig.getPosX()}"/>
                        <label th:for="${'modify_' + widgetConfig.getId() + '_posX'}" th:text="#{media.posX}"></label>
                    </div>
                    <div class="input-field col  s5">
                        <input class="validate modify-input listen-edit valid"
                               th:classappend="${'modify_' + widgetConfig.getId() }"
                               th:id="${'modify_' + widgetConfig.getId() + '_posY'}" min="0" max="12"
                               type="number"
                               th:value="${widgetConfig.getPosY()}"/>
                        <label th:for="${'modify_' + widgetConfig.getId() + '_posY'}" th:text="#{media.posY}"></label>
                    </div>
                    <div class="input-field col s5 offset-s1">
                        <input class="validate modify-input listen-edit valid "
                               th:classappend="${'modify_' + widgetConfig.getId() }"
                               th:id="${'modify_' + widgetConfig.getId() + '_width'}" min="1"
                               max="12"
                               type="number"
                               th:value="${widgetConfig.getSizeWidth()}"/>
                        <label th:for="${'modify_' + widgetConfig.getId() + '_width'}" th:text="#{media.sizeWidth}"></label>
                    </div>
                    <div class="input-field col s5">
                        <input class="validate modify-input listen-edit valid"
                               th:classappend="${'modify_' + widgetConfig.getId() }"
                               th:id="${'modify_' + widgetConfig.getId() + '_height'}" min="1"
                               max="12"
                               type="number"
                               th:value="${widgetConfig.getSizeHeight()}"/>
                        <label th:for="${'modify_' + widgetConfig.getId() + '_height'}" th:text="#{media.sizeHeight}"></label>
                    </div>


                    <th:block th:with="wInfo=${widgets[widgetConfig.getWidgetId()]}">
                        <!--/*@thymesVar id="wInfo" type="Donkey.Widgets.WidgetInterface"*/-->
                        <th:block th:each="confOrdered : ${wInfo.getParam()}">
                            <!--/*@thymesVar id="confOrdered" type="Donkey.Widgets.WidgetConfDefinition"*/-->
                            <th:block th:with="confEdit=${wInfo.getParam(widgetConfig.getParam()).get(confOrdered.getName())}">
                                <!--/*@thymesVar id="confEdit" type="Donkey.Widgets.WidgetConfDefinition"*/-->
                                <th:block
                                        th:if="${confEdit.getType() == T(Donkey.Widgets.ConfType).TEXT || confEdit.getType() == T(Donkey.Widgets.ConfType).NUMBER }">
                                    <div class="input-field col s10 offset-s1">
                                        <input class="validate listen-edit valid"
                                               th:classappend="${'modify_custom_' + widgetConfig.getId()}"
                                               th:type="${#strings.toLowerCase(confEdit.getType() )}"
                                               th:id="${'modify_custom_' + widgetConfig.getId() + '_' + confEdit.getName()}"
                                               th:attr="data-name=${confEdit.getName()}"
                                               th:value="${confEdit.getValue()}"/>
                                        <label th:for="${'modify_custom_' + widgetConfig.getId() + '_' + confEdit.getName()}"
                                               th:text="${#strings.capitalize(confEdit.getName())}"></label>
                                    </div>
                                </th:block>
                                <th:block th:if="${confEdit.getType()  == T(Donkey.Widgets.ConfType).BOOL}">
                                    <div class="input-field col s10 offset-s1" style="margin-bottom: 20px; margin-top: 5px">
                                        <span th:text="${#strings.capitalize(confEdit.getName())}" class="grey-text"></span>
                                        <div class="switch" style="display: inline-block">
                                            <label>
                                                <input class=""
                                                       th:classappend="${'modify_custom_' + widgetConfig.getId()}"
                                                       th:id="${'modify_custom_' + widgetConfig.getId() + '_' + confEdit.getName()}"
                                                       th:attr="data-name=${confEdit.getName()}"
                                                       type="checkbox"
                                                       th:checked="${confEdit.getValue()}"/>
                                                <span class="lever"></span>
                                            </label>

                                        </div>
                                    </div>
                                </th:block>
                                <th:block
                                        th:if="${confEdit.getType() == T(Donkey.Widgets.ConfType).MEDIA and confEdit.isList()}">

                                    <div class="col s12 card-panel">
                                        <div class="row" style="margin-top: 5px;">
                                            <div class="col s12 center">
                                                <h5 th:text="${#strings.capitalize(confEdit.getName())}"></h5>
                                            </div>
                                            <ul class="col s12 collection"
                                                th:id="${'' + widgetConfig.getId() + '_' + confEdit.getName() + '_list'}">
                                                <th:block th:each="media : ${confEdit.getValue()}">
                                                    <li class='collection-item' data-id=''>
                                                        <div th:inline="text">
                                                            [[${media}]]
                                                            <a href='#' class='secondary-content delMedia'
                                                               th:attr="data-id=${media}, data-target=${'modify_custom_' + widgetConfig.getId() + '_' + confEdit.getName()}, data-list=${'' + widgetConfig.getId() + '_' + confEdit.getName() + '_list'}">
                                                                <i class='material-icons red-text'>delete</i>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </th:block>

                                            </ul>
                                            <div class="col s12 center">
                                                <a class="btn blue waves-effect modal-trigger modal-trigger-media"
                                                   href="#mediaModal" th:text="#{form.add}"
                                                   th:attr="data-input=${'modify_custom_' + widgetConfig.getId() + '_' + confEdit.getName()}, data-list=${'' + widgetConfig.getId() + '_' + confEdit.getName() + '_list'}"></a>
                                            </div>
                                            <input type="hidden" class="listen-edit"
                                                   th:id="${'modify_custom_' + widgetConfig.getId() + '_' + confEdit.getName()}"
                                                   th:attr="data-name=${confEdit.getName()}"
                                                   th:classappend="${'modify_custom_' + widgetConfig.getId()}"
                                                   th:value="${confEdit.getRawValue()}"/>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </th:block>
                    </th:block>

                    <div class="col s12 center" style="margin-top: 10px">
                        <a class="btn green modify-submit" th:classappend="${'modify-submit_'+ widgetConfig.getId()}"
                           th:text="#{form.submit}"
                           th:attr="data-widget=${widgetConfig.getId()}"></a>
                        <a class="btn red delete_btn modal-trigger" th:text="#{form.delete}"
                           th:attr="data-widget=${widgetConfig.getId()} " href="#deleteModalWidget"></a>
                    </div>


                </div>
            </div>
        </th:block>

        <li class="modify-conf center">
            <h5 th:text="#{media.selectWidget}"></h5>
        </li>
    </ul>


    <!--Adding Template MODAL-->
    <div id="addWidgetToTemplate" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 center">
                    <h4 th:text="#{media.addWidget}"></h4>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <select id="widgetSelect" class="">
                        <th:block th:each=" widget : ${widgets}">
                            <option th:text="${#strings.capitalize(widget.value.getName())}"
                                    th:value="${widget.value.getId()}"></option>
                        </th:block>
                    </select>
                    <label th:text="#{media.widget}"></label>
                </div>
            </div>
            <div class="row">
                <div class="divider col s12 "></div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <input class="conf-input listen" id="addWidgetName" min="0" max="12"
                           type="Text"/>
                    <label for="addWidgetName" th:text="#{form.name}"></label>
                </div>

                <div class="input-field col m5 offset-m1 s10 offset-s1">
                    <input class="conf-input listen valid" id="addWidgetPosX" min="0" max="12"
                           type="number"
                           value="0"/>
                    <label for="addWidgetPosX" th:text="#{media.posX}"></label>
                </div>
                <div class="input-field col  m5 s10 offset-s1">
                    <input class="conf-input listen valid" id="addWidgetPosY" min="0" max="12"
                           type="number"
                           value="0"/>
                    <label for="addWidgetPosY" th:text="#{media.posY}"></label>
                </div>
                <div class="input-field col m5 offset-m1 s10 offset-s1">
                    <input class="conf-input listen valid " id="addWidgetSizeWidth" min="1"
                           max="12"
                           type="number"
                           value="1"/>
                    <label for="addWidgetSizeWidth" th:text="#{media.sizeWidth}"></label>
                </div>
                <div class="input-field col  m5 s10 offset-s1">
                    <input class="validate conf-input listen valid" id="addWidgetSizeHeight" min="1"
                           max="12"
                           type="number"
                           value="1"/>
                    <label for="addWidgetSizeHeight" th:text="#{media.sizeHeight}"></label>
                </div>
                <div id="custom_param">
                    <th:block th:each="widget : ${widgets}">
                        <div th:id="${widget.value.getId() + '_conf'}" class="custom_conf">
                            <th:block th:each="conf : ${widget.value.getParam()}">
                                <th:block
                                        th:if="${conf.getType() == T(Donkey.Widgets.ConfType).TEXT || conf.getType() == T(Donkey.Widgets.ConfType).NUMBER }">
                                    <div class="input-field col s10 offset-s1">
                                        <input class="validate listen custom-input"
                                               th:classappend="${conf.getValue() == null ? 'custom-conf-input-' + widget.value.getId() : 'valid custom-conf-input-' + widget.value.getId()}"
                                               th:id="${conf.getName()}" min="1"
                                               max="12"
                                               th:type="${#strings.toLowerCase(conf.getType() )}"
                                               th:value="${conf.getValue()}"
                                                th:attr="data-name = ${conf.getName()}"/>
                                        <label th:for="${conf.getName()}"
                                               th:text="${#strings.capitalize(conf.getName())}"></label>
                                    </div>
                                </th:block>
                                <th:block
                                        th:if="${conf.getType() == T(Donkey.Widgets.ConfType).MEDIA and conf.isList()}">

                                    <div class="col s10 offset-s1 card-panel">
                                        <div class="row" style="margin-top: 5px;">
                                            <div class="col s12 center">
                                                <h5 th:text="${#strings.capitalize(conf.getName())}"></h5>
                                            </div>
                                            <ul class="col s10 offset-s1 collection"
                                                th:id="${conf.getName() + '_list'}">

                                            </ul>
                                            <div class="col s12 center">
                                                <a class="btn blue waves-effect modal-trigger modal-trigger-media"
                                                   href="#mediaModal" th:text="#{form.add}"
                                                   th:attr="data-input=${'add_'+conf.getName()}, data-list=${conf.getName() + '_list'}"></a>
                                            </div>
                                            <input type="hidden" th:id="${'add_'+conf.getName()}" class="listen custom-input"
                                                   th:classappend="${'custom-conf-input-' + widget.value.getId()}"
                                                    th:attr="data-name= ${conf.getName()}"/>
                                        </div>
                                    </div>
                                </th:block>
                                <th:block th:if="${conf.getType() == T(Donkey.Widgets.ConfType).BOOL}">
                                    <div class="input-field col s10 offset-s1">
                                        <div class="switch">
                                            <span th:text="${#strings.capitalize(conf.getName())}" class="grey-text"></span>
                                            <div class="switch" style="display: inline-block">
                                                <label>
                                                    <input class="custom-input"
                                                           th:classappend="${conf.getValue() == null ? 'custom-conf-input-' + widget.value.getId() : 'valid custom-conf-input-' + widget.value.getId()}"
                                                           th:id="${conf.getName()}" min="1"
                                                           type="checkbox"
                                                           th:checked="${conf.getValue()}"
                                                           th:attr="data-name = ${conf.getName()}"/>
                                                    <span class="lever"></span>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </th:block>
                            </th:block>

                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn red"
                    th:text="#{form.cancel}"></button>
            <button class="modal-close waves-effect waves-green btn green disabled" id="submitNewWidget"
                    th:text="#{form.submit}"></button>
        </div>
    </div>

    <!--Delete Template MODAL-->
    <div id="delModal" class="modal">
        <div class="modal-content">
            <h4 th:text="#{group.messageDelete}"></h4>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn red"
                    th:text="#{form.no}"></button>
            <button class="modal-close waves-effect waves-green btn green" id="deleteTemplateBtn"
                    th:text="#{form.yes}"></button>
        </div>
    </div>

    <!--Delete Widget MODAL-->
    <div id="deleteModalWidget" class="modal">
        <div class="modal-content">
            <h4 th:text="#{group.messageDelete}"></h4>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn red"
                    th:text="#{form.no}"></button>
            <button class="modal-close waves-effect waves-green btn green" id="deleteWidgetBtn"
                    th:text="#{form.yes}"></button>
        </div>
    </div>

    <!-- Media MODAL-->
    <div id="mediaModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 center">
                    <h4 th:text="#{media.selectMedia}"></h4>
                </div>
                <div id="mediaContent">

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn red"
                    th:text="#{form.cancel}"></button>
            <button class="waves-effect waves-green btn green modal-close" id="mediaModalConfirm"
                    th:text="#{form.submit}"></button>
        </div>
    </div>


</main>

<footer class="page-footer" style="padding: 0">
    <!--<div th:replace="footer :: footer">...</div>-->
</footer>
<!--  Scripts-->
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var templateId = [[${template.getId()}]];
    /*]]>*/
</script>
<script th:src="@{/js/MediaModal.js}"></script>
<script th:src="@{/js/template_editor.js}"></script>
<script th:src="@{/js/template_add.js}"></script>
<script th:src="@{/js/template.js}"></script>

</body>
</html>