<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!--TODO <meta name="description" content=""/>-->
    <title>Template - Donkey Signage</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>


    </style>


</head>

<body class="blue-grey lighten-5">
<header>
    <div th:replace="navbar :: navbar ('Template')"></div>
</header>

<main class="container">
    <!--write your stuff here-->
    <div class="card-panel col s10 offset-s1">
        <div class="row">
            <div class="row">
                <div class="col s12 center">
                    <h2 th:utext="#{media.template}"></h2>
                </div>
            </div>
            <div class="row">
                <div class="divider col s10 offset-s1"></div>
            </div>

            <div class="input-field col s10 offset-s1">
                <input class="editableTemplate grey-text text-darken-2" placeholder="Placeholder" id="name" type="text"
                       disabled="disabled" th:value="${template.getName()}"/>
                <label for="name" class="grey-text" th:text="#{login.username}"></label>
            </div>
        </div>
        <div class="row">
            <ul class="collapsible popout">
                <th:block th:each="widgetConfig : ${widgetConfList}">
                    <li>
                        <div class="collapsible-header" th:text="${widgetConfig.getName()}"></div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="input-field col s10">
                                    <input class="editableWidget grey-text text-darken-2 "
                                           th:classappend="${widgetConfig.getId()}" placeholder="Placeholder" id="posX"
                                           type="number"
                                           disabled="disabled" th:value="${widgetConfig.getPosX()}"/>
                                    <label for="posX" class="grey-text" th:text="#{media.posX}"></label>
                                </div>
                                <div class="input-field col s10">
                                    <input class="editableWidget grey-text text-darken-2"
                                           th:classappend="${widgetConfig.getId()}" placeholder="Placeholder" id="posY"
                                           type="text"
                                           disabled="disabled" th:value="${widgetConfig.getPosY()}"/>
                                    <label for="posY" class="grey-text" th:text="#{media.posY}"></label>
                                </div>
                                <div class="input-field col s10">
                                    <input class="editableWidget grey-text text-darken-2" placeholder="Placeholder"
                                           id="sizeWidth"
                                           type="text"
                                           disabled="disabled" th:classappend="${widgetConfig.getId()}"
                                           th:value="${widgetConfig.getSizeWidth()}"/>
                                    <label for="sizeWidth" class="grey-text" th:text="#{media.sizeWidth}"></label>
                                </div>
                                <div class="input-field col s10 ">
                                    <input class="editableWidget grey-text text-darken-2" placeholder="Placeholder"
                                           id="sizeHeigth" type="text"
                                           disabled="disabled" th:classappend="${widgetConfig.getId()}"
                                           th:value="${widgetConfig.getSizeHeight()}"/>
                                    <label for="sizeWidth" class="grey-text" th:text="#{media.sizeHeight}"></label>
                                </div>

                                <div class="row hide-to-editWidget" th:classappend="${widgetConfig.getId()}"
                                     th:attr="data-id=${widgetConfig.getId()}">
                                    <div class="col s12 center">
                                        <a class="waves-effect waves-light btn green" id="edit_btnWidget"
                                           th:classappend="${widgetConfig.getId()}"
                                           th:attr="data-id=${widgetConfig.getId()}"
                                           th:utext="#{form.modify}"></a>
                                        <a class="waves-effect waves-light btn modal-trigger red" id="delete_btn"
                                           th:classappend="${widgetConfig.getId()}"
                                           th:attr="data-id=${widgetConfig.getId()}"
                                           href="#deleteModalWidget" th:utext="#{form.delete}"></a>
                                    </div>
                                </div>
                                <div class="row show-to-editWidget" hidden="hidden"
                                     th:classappend="${widgetConfig.getId()}"
                                     th:attr="data-id=${widgetConfig.getId()}">
                                    <div class="col s12 center">
                                        <button class="btn green" id="confirm_btnWidget"
                                                th:classappend="${widgetConfig.getId()}"
                                                th:attr="data-id=${widgetConfig.getId()}"
                                                th:text="#{form.submit}"></button>
                                        <button class="btn red" id="cancel_btnWidget"
                                                th:classappend="${widgetConfig.getId()}"
                                                th:attr="data-id=${widgetConfig.getId()}"
                                                th:text="#{form.cancel}"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </li>
                </th:block>
            </ul>

            <div class="row">
                <div class="col s12 center">
                    <a class="waves-effect waves-light btn modal-trigger blue " href="#addWidgetToTemplate"
                       th:utext="#{media.addWidget}"></a>
                </div>
            </div>

            <div class="row hide-to-edit">
                <div class="col s12 center">
                    <a class="waves-effect waves-light btn green" id="edit_btn" th:utext="#{form.modify}"></a>
                    <a class="waves-effect waves-light btn modal-trigger red" href="#delModal"
                       th:utext="#{form.delete}"></a>
                </div>
            </div>

            <div class="row show-to-edit" hidden="hidden">
                <div class="col s12 center">
                    <button class="btn green" id="confirm_btn" th:text="#{form.submit}"></button>
                    <button class="btn red" id="cancel_btn" th:text="#{form.cancel}"></button>
                </div>
            </div>
        </div>
    </div>


    <!--Adding Template MODAL-->
    <div id="addWidgetToTemplate" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 center">
                    <h4 th:text="#{media.addWidget}"></h4>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <select id="widgetSelect" class="">
                        <th:block th:each=" widget : ${widgets}">
                            <option th:text="${#strings.capitalize(widget.value.getName())}" th:value="${widget.value.getId()}"></option>
                        </th:block>
                    </select>
                    <label th:text="#{media.widget}"></label>
                </div>
            </div>
            <div class="row">
                <div class="divider col s12 "></div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <input class="conf-input validate" id="addWidgetName" min="0" max="12"
                           type="Text"/>
                    <label for="addWidgetName" th:text="#{form.name}"></label>
                </div>

                <div class="input-field col m5 offset-m1 s10 offset-s1">
                    <input class="conf-input validate" id="addWidgetPosX" min="0" max="12"
                           type="number"/>
                    <label for="addWidgetPosX" th:text="#{media.posX}"></label>
                </div>
                <div class="input-field col  m5 s10 offset-s1">
                    <input class="conf-input validate" id="addWidgetPosY" min="0" max="12"
                           type="number"/>
                    <label for="addWidgetPosY" th:text="#{media.posY}"></label>
                </div>
                <div class="input-field col m5 offset-m1 s10 offset-s1">
                    <input class="conf-input validate " id="addWidgetSizeWidth" min="1"
                           max="12"
                           type="number"/>
                    <label for="addWidgetSizeWidth"  th:text="#{media.sizeWidth}"></label>
                </div>
                <div class="input-field col  m5 s10 offset-s1">
                    <input class="validate conf-input validate" id="addWidgetSizeHeight" min="1"
                           max="12"
                           type="number"/>
                    <label for="addWidgetSizeHeight" th:text="#{media.sizeHeight}"></label>
                </div>
                <div id="custom_param">
                    <th:block th:each="widget : ${widgets}">
                        <div th:id="${widget.value.getId() + '_conf'}" class="custom_conf">
                            <th:block th:each="conf : ${widget.value.getParam()}">
                                <th:block
                                        th:if="${conf.getType() == T(Donkey.Widgets.ConfType).TEXT || conf.getType() == T(Donkey.Widgets.ConfType).NUMBER }">
                                    <div class="input-field col s10 offset-s1">
                                        <input class="validate conf-input" th:classappend="${conf.getValue() == null ? '' : 'valid'}"
                                               th:id="${conf.getName()}" min="1"
                                               max="12"
                                               th:type="${#strings.toLowerCase(conf.getType() )}"
                                               th:value="${conf.getValue()}"/>
                                        <label th:for="${conf.getName()}"
                                               th:text="${#strings.capitalize(conf.getName())}"></label>
                                    </div>
                                </th:block>

                            </th:block>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn red"
                    th:text="#{form.cancel}"></button>
            <button class="modal-close waves-effect waves-green btn green disabled" id="submitNewWidget"
                    th:text="#{form.submit}"></button>
        </div>
    </div>

    <!--Delete Template MODAL-->
    <div id="delModal" class="modal">
        <div class="modal-content">
            <h4 th:text="#{group.messageDelete}"></h4>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn red"
                    th:text="#{form.no}"></button>
            <button class="modal-close waves-effect waves-green btn green" id="deleteTemplateBtn"
                    th:text="#{form.yes}"></button>
        </div>
    </div>
    <!--Delete Widget MODAL-->
    <div id="deleteModalWidget" class="modal">
        <div class="modal-content">
            <h4 th:text="#{group.messageDelete}"></h4>
        </div>
        <div class="modal-footer">
            <button class="modal-close waves-effect waves-green btn red"
                    th:text="#{form.no}"></button>
            <button class="modal-close waves-effect waves-green btn green" id="deleteWidgetBtn"
                    th:text="#{form.yes}"></button>
        </div>
    </div>
</main>

<footer class="page-footer" style="padding: 0">
    <!--<div th:replace="footer :: footer">...</div>-->
</footer>
<!--  Scripts-->
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/template_editor.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var templateId = [[${template.getId()}]];
    /*]]>*/
</script>

</body>
</html>