<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add Group</title>
</head>
<body>
    <h1>Add new Group in DataBase</h1>
    <form action="#" th:action="@{/addGroup}" th:object="${groupForm}" method="POST">
        <label for="name">Name : </label>
        <input type="text" id="name" name="name" />
        <br/>
        <label for="parentId">Parent Id : </label>
        <input type="text" id="groupId" name="parentId"/>
        <br/>
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>