<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!--TODO <meta name="description" content=""/>-->
    <title>Add Group - Donkey Signage</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>


    </style>


</head>

<body class="blue-grey lighten-5">
<header>
    <div th:replace="navbar :: navbar ('screen')"></div>
</header>
<main class="container">
    <!--write your stuff here-->
    <div class="card-panel">
        <div class="col s12">
            <h2 class="center" th:text="#{group.addGroup}"></h2>
        </div>
        <div class="row">
            <div class="divider col s10 offset-s1"></div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="name" name="name"/>
                <label for="name" th:utext="#{form.name}"></label>
            </div>
        </div>
        <div class="file-field input-field col s10 offset-s1" style="margin-top: 0">
            <div class="" style="margin-bottom: 5px; ">
                <label th:text="#{group.group}" style="font-size: 15px"></label>
            </div>
            <a class="waves-effect waves-light btn modal-trigger" href="#modalGroup" th:text="#{form.select}"></a>
            <div class="file-path-wrapper">
                <input type="text" disabled="disabled" id="groupName"/>
            </div>
            <input type="hidden" id="groupId" name="groupId"
                   th:value="${addGroupForm?.getParent() == null ? -1 : addGroupForm?.getParent().getId()}"/>
        </div>

        <div class="row">
            <div class="col s12 center">
                <button id="validateBtn" class="disabled waves-effect waves-light btn green"
                        th:utext="#{form.submit}" ></button>
            </div>
        </div>
    </div>

    <div id="modalGroup" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 center">
                    <h4 th:text="#{form.groupselector}"></h4>
                </div>
            </div>
            <div class="row">

                <div class="col s12">
                    <ul class="collection with-header" id="groupSelector">

                    </ul>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="modal-close waves-effect waves-green btn-flat red-text"
                    th:utext="#{form.cancel}"></button>
        </div>
    </div>

</main>

<footer class="page-footer" style="padding: 0">
    <!--<div th:replace="footer :: footer">...</div>-->
</footer>
<!--  Scripts-->
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/group_selector.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    document.addEventListener('DOMContentLoaded', function () {
        getGroupPage(-1, '');
        let elems = document.querySelectorAll('.modal');
        M.Modal.init(elems);

        $("#validateBtn").click(function () {
            let addGroupJson = {
                "id" : -1,
                "name": $("#name").val(),
                "parentId": $("#groupId").val()
            };
            console.log("Json send to api : " + JSON.stringify(addGroupJson));

            var settings = {
                "url": "/api/group",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify(addGroupJson),
            };
            //debugger;
            $.ajax(settings).done(function (response) {
                console.log(response);
                window.location.replace("/group?id="+response.id);
            }); //TODO gestion erreur
        });

        let name = $('#name');
        let submit =  $('#validateBtn');
        /*--------------NAME--------------*/
        name.on('input',() => {
            if(name.val().length < 1) {
                if(!submit.hasClass("disabled"))
                    submit.addClass("disabled");
            }
            else{
                if(submit.hasClass("disabled"))
                    submit.removeClass("disabled");
            }
        });
    });

    /*]]>*/
</script>


</body>
</html>

