<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!--TODO <meta name="description" content=""/>-->
    <title>User - Donkey Signage</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>


    </style>


</head>

<body class="blue-grey lighten-5">
<header>
    <div th:replace="navbar :: navbar ('addUser')" th:with="user=${user}"></div>
</header>

<main class="container">
    <!--write your stuff here-->
    <div class="card-panel">
        <div class="row">
            <div class="col s12">
                <h2 class="center" th:text="#{login.newUser}"></h2>
            </div>
            <div class="row">
                <div class="divider col s10 offset-s1"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="text" id="username" name="username" class="validate"/>
                <label for="username" th:text="#{login.username}"></label>
                <span class="helper-text" th:attr="data-error=#{login.invalidUsername}"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="password" id="password" name="password"/>
                <label for="password" th:text="#{login.password}"></label>
            </div>
        </div>
        <div class="row">
            <!--<label th:text="#{login.chooseRole}"></label>-->
            <div class="input-field col s12">
                <select id="roleSelect" class="browser-default">
                    <th:block th:each="role : ${roleList}">
                        <th:block th:if="${role.getName() == 'ROLE_USER'}">
                            <option th:value='${role.getId()}' selected="selected" th:utext="${#strings.substringAfter(role.getName(),'_')}"></option>
                        </th:block>
                        <th:block th:if="${role.getName() != 'ROLE_USER'}">
                            <option th:value='${role.getId()}' th:utext="${#strings.substringAfter(role.getName(),'_')}"></option>
                        </th:block>
                    </th:block>
                </select>
            </div>

            <div class="col s12 center">
                <button type="submit" class="disabled waves-effect waves-light btn green" id="submit"
                        th:text="#{form.submit}"></button>
            </div>
        </div>

    </div>

</main>

<footer class="page-footer" style="padding: 0">
    <!--<div th:replace="footer :: footer">...</div>-->
</footer>
<!--  Scripts-->
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script>
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);

        let username = $('#username');
        let password = $('#password');
        let choiceRole = $('#roleSelect');
        let submit = $('#submit');


        /*--------------USERNAME--------------*/
        username.on('input',() => {
            console.log("Username test, length username : " + username.val().length + ", length password : " + password.val().length);
            if(username.val().length < 1 || password.val().length < 1) {
                if(!submit.hasClass("disabled"))
                    submit.addClass("disabled");
            }
            else{
                if(submit.hasClass("disabled"))
                    submit.removeClass("disabled");
            }
        });

        /*--------------PASSWORD--------------*/
        password.on('input',() => {
            console.log("Password test, length username : " + username.val().length + ", length password : " + password.val().length);
            if(password.val().length < 1 || username.val().length < 1){
                if(!submit.hasClass("disabled"))
                    submit.addClass("disabled");
            }
            else{
                if(submit.hasClass("disabled"))
                    submit.removeClass("disabled");
            }
        });

        /*--------------SUBMIT--------------*/
        submit.on('click', function () {
            let addUserJson = {
                "username": username.val(),
                "password": password.val(),
                "roleId" : choiceRole.val()
            };
            console.log(JSON.stringify(addUserJson));

            var settings = {
                "url": "/api/user",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify(addUserJson),
            };

            $.ajax(settings).done(function (response) {
                console.log(response);
                //console.log(response);
                window.location.replace("/user?id="+response.id);
            }).fail(function(response){
                $('#username').addClass("invalid");
            });

        })
    });
    /*]]>*/
</script>

</body>
</html>