<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Form Screen Register</title>
</head>
<body>
    <h1>Add new Screen in DataBase</h1>
    <br>
    <!--<form action="#" th:action="@{/formScreenRegister}" th:object="${finalRegistration}" method="POST">-->
        <!--<label for="tempToken">Token Tmp : </label>-->
        <!--<input type="text" id="tempToken" name="tempToken" size="10" th:field="*{tempToken}">-->
        <!--<br>-->
        <!--<label for=""> : </label>-->
        <!--<input type="number" id="age" name="age" size="10" th:field="*{}">-->
        <!--<br>-->
        <!--<input type="submit" value="Submit">-->
    <!--</form>-->
</body>
</html>