<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8"/>
        <title>Form Screen Register</title>
    </head>
    <body>
        <h1>Add new Screen in DataBase</h1>
        <form action="#" th:action="@{/formScreenRegister}" th:object="${screenRegisterForm}" method="POST">
            <input type="hidden"  id="uuid" name="uuid" th:value="${uuid}"/>
            <label for="name">Screen's Name : </label>
            <input type="text" id="name" name="name" />
            <br/>
            <label for="groupId">Group Id : </label>
            <input type="text" id="groupId" name="groupId"/>
            <br/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>