<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<!--/*@thymesVar id="user" type="Donkey.Database.Entity.UserAndPrivileges.UserEntity"*/-->
<!--/*@thymesVar id="langs" type="java.util.HashMap<java.lang.String, java.lang.String>"*/-->
<div th:fragment="navbar (page)">
    <header>

        <th:block th:if="${page != 'login'}">
            <style>
                @media only screen and (min-width : 993px) {
                    .sidenav {
                        margin-top: 64px;
                    }

                    main {
                        padding-left: 300px !important;
                    }
                }

            </style>
        </th:block>


        <div class="navbar-fixed">
            <nav class="blue darken-4 z-depth-3" role="navigation">
                <div class="nav-wrapper container">
                    <a href="/" class="brand-logo" style="white-space: nowrap">Donkey Signage</a>
                    <ul class="right hide-on-med-and-down">
                        <li>

                            <a class='dropdown-trigger btn blue darken-3' data-target='dropdownLocale' th:text="${#strings.capitalize(langs.get(#strings.toString(lang)))}"></a>
                            <ul id='dropdownLocale' class='dropdown-content'>
                                <th:block th:each="aLang : ${langs}">
                                    <li th:if="${aLang.key != #strings.toString(lang)}"> <a th:text="${#strings.capitalize(aLang.value)}" th:href="${'?lang=' + aLang.key}"></a> </li>
                                </th:block>
                            </ul>

                        </li>
                        <li id="nav-bar-account" th:if="${user}">
                            <a class="dropdown-trigger green-text" data-target="dropdown_connected"><i
                                    class="material-icons">account_box</i></a>
                        </li>

                    </ul>
                    <a href="#" data-target="side_nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </div>

        <th:block th:if="${page != 'login'}">
            <ul id="side_nav" class="sidenav sidenav-fixed">
                <th:block th:if="${user?.isAdmin()}">
                    <li th:classappend="${page == 'screenRegister'? 'active' : ''}">
                        <a href="/screenRegister"  th:text="#{screenregister.screenregister}"></a>
                    </li>
                    <li th:if="${user?.isAdmin()}" th:classappend="${page == 'addGroup'? 'active' : ''}">
                        <a href="/addGroup"  th:text="#{group.addGroup}"></a>
                    </li>
                    <li th:if="${user?.isAdmin()}" th:classappend="${page == 'addUser'? 'active' : ''}">
                        <a href="/addUser"  th:text="#{login.newUser}"></a>
                    </li>
                    <li>
                        <div class="divider"></div>
                    </li>
                </th:block>
                <li th:classappend="${page == 'group'? 'active' : ''}">
                    <a href="/group"  th:text="#{group.group}"></a>
                </li>
                <li th:classappend="${page == 'user'? 'active' : ''}">
                    <a href="/user"  th:text="#{login.user}"></a>
                </li>
                <li th:classappend="${page == 'uplaodForm'? 'active' : ''}">
                    <a href="/media" th:utext="#{media.media}"></a>
                </li>
            </ul>
        </th:block>


        <!-- Dropdown connected -->
        <ul id="dropdown_connected" class="dropdown-content">
            <li>

                <a class="center blue-grey-text text-darken-4 tooltipped" data-position="left" data-delay="50"
                   data-tooltip="It's you !" style="font-weight: bold" th:text="${#strings.capitalize(user?.getUsername())}"></a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="center tooltipped" data-position="left" data-delay="50" data-tooltip="Under Development!" href="/myAccount"  th:text="#{login.account}"></a>
            </li>
            <li class="divider"></li>

            <li><a class="center red-text nav-disconnect" style="font-weight: bold" href="/logout" th:text="#{login.disconnect}"></a></li>
        </ul>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var side = document.querySelectorAll('.sidenav');
                M.Sidenav.init(side);
                var drops = document.querySelectorAll('.dropdown-trigger');
                M.Dropdown.init(drops, {constrainWidth: false, coverTrigger : false});

            });


        </script>

    </header>


</div>


</body>
</html>