<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!--TODO <meta name="description" content=""/>-->
    <title>Add Media - Donkey Signage</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>


    </style>


</head>

<body class="blue-grey lighten-5">
<header>
    <div th:replace="navbar :: navbar ('uplaodForm')" th:with="user=${user}"></div>
</header>

<main class="container">
    <!--write your stuff here-->
    <div class="row">
        <div class="col s12" th:if="${message}">
            <h2 th:text="${message}"/>
        </div>
    </div>

    <div>
        <form method="POST" enctype="multipart/form-data" action="/addMedia">

            <div class="row">
                <div class="input-field col s12">
                    <p>File to upload:</p>
                    <input class="validate" type="file" name="file" />
                </div>
            </div>
            <div class="row">
                <div class="col s12 center">
                    <input type="submit" class="btn diasbled" value="Upload" />
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12 center">
            <ul>
                <li th:each="file : ${files}">
                    <a th:href="${file}" th:text="${file}">...</a>
                </li>
            </ul>
        </div>
    </div>
</main>

<footer class="page-footer" style="padding: 0">
    <!--<div th:replace="footer :: footer">...</div>-->
</footer>
<!--  Scripts-->
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>


</body>
</html>