<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!--TODO <meta name="description" content=""/>-->
    <title>Donkey Signage</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>


    </style>


</head>

<body class="blue-grey lighten-5">
<header>
    <div th:replace="navbar :: navbar ('screenRegister')"></div>
</header>

<main class="container">
    <div class="card-panel">
        <div class="row">
            <div class="col s12">
                <h2 class="center" th:text="#{screenregister.screenregister}"></h2>
            </div>
        </div>

        <form action="#" th:action="@{/formScreenRegister}" th:object="${screenRegisterForm}" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text"  id="uuid" name="uuid" th:value="${uuid}" readonly="readonly"/>
                    <label for="uuid" th:text="#{screenregister.uuid}"></label>
                </div>

                <div class="input-field col s12">
                    <input type="text" id="name" name="name" th:classappend="${error != null ? 'invalid' : ''}"/>
                    <label for="name" th:text="#{form.name}"></label>
                    <span class="helper-text" th:attr="data-error=#{form.invalidName}" data-succes="right"></span>
                </div>

                <div class="file-field input-field col s12">
                    <div class="" style="margin-bottom: 5px; ">
                        <label th:text="#{group.group}" style="font-size: 15px"></label>
                    </div>
                    <a class="waves-effect waves-light btn modal-trigger" href="#modalGroup" th:text="#{form.select}"></a>
                    <div class="file-path-wrapper">
                        <input type="text" disabled="disabled" id="groupName"/>
                    </div>
                </div>
            </div>

            <input type="hidden" id="groupId" name="groupId" value="-1"/>
            <div class="row">
                <div class="col s12 center">
                    <input type="submit" class="btn disabled" id="submit" th:value="#{form.submit}"/>
                </div>
            </div>


        </form>
    </div>


    <!-- Modal Structure -->
    <div id="modalGroup" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="row">
                <div class="col s12 center">
                    <h4 th:text="#{form.groupselector}"></h4>
                </div>
            </div>
            <div class="row">

                <div class="col s12" >
                    <ul class="collection with-header" id="groupSelector">

                    </ul>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="modal-action modal-close btn-flat" th:text="#{form.cancel}"></button>
        </div>
    </div>

</main>

<footer class="page-footer" style="padding: 0">
    <!--<div th:replace="footer :: footer">...</div>-->
</footer>
<!--  Scripts-->
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/group_selector.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function () {
        getGroupPage(-1);
        let elems = document.querySelectorAll('.modal');
        M.Modal.init(elems);

        let name = $('#name');
        let submit = $('#submit');

        if(name.val().length < 1){
            if(!submit.hasClass("disabled"))
                submit.addClass("disabled");
        }
        else{
            if(submit.hasClass("disabled"))
                submit.removeClass("disabled");
        }

        name.on('input',() => {
            console.log(name.val().length);
            if(name.val().length < 1){
                if(!submit.hasClass("disabled"))
                    submit.addClass("disabled");
            }
            else{
                if(submit.hasClass("disabled"))
                    submit.removeClass("disabled");
            }

        });

    });
    /*]]>*/
</script>


</body>
</html>