<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Get Screen</title>
</head>
<body>
    <div>
        <h1>Get Screen</h1>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Ip</th>
                <th>Token</th>
                <th>Uuid</th>
                <th>GroupId</th>
            </tr>
            <tr th:each ="screen : ${screen}">
                <td th:utext="${screen.id}">...</td>
                <td th:utext="${screen.name}">...</td>
                <td th:utext="${screen.ip}">...</td>
                <td th:utext="${screen.token}">...</td>
                <td th:utext="${screen.uuid}">...</td>
                <td th:utext="${screen.group.id}">...</td>
            </tr>
        </table>
    </div>
</body>
</html>