<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!--TODO <meta name="description" content=""/>-->
    <title>Donkey Signage</title>
    <link rel="icon"
          type="image/x-icon"
          href="/favicon.png"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>


    </style>


</head>

<body class="blue-grey lighten-5">
<header>
    <div th:replace="navbar :: navbar ('screenRegister')" th:with="user=${user}"></div>
</header>

<main class="container">
    <div class="card-panel">
        <div class="row">
            <div class="col s12">
                <h2 class="center" th:text="#{screenregister.screenregister}"></h2>
            </div>
        </div>

        <form action="#" th:action="@{/screenRegister}" th:object="${tmpTokenForm}" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="tempToken" name="tempToken" th:field="*{tempToken}" class="validate" th:classappend="${error != null ? 'invalid' : ''}"  data-length="4" maxlength="4"/>
                    <label for="tempToken" th:text="#{screenregister.temptoken}"></label>
                    <span class="helper-text" th:attr="data-error=#{screenregister.invalidTmpToken}" data-succes="right"></span>
                </div>

            </div>
            <div class="row">
                <div class="col s12 center">
                    <input type="submit" class="btn disabled" id="submit" value="Submit"/>
                </div>
            </div>


        </form>
    </div>


</main>

<footer class="page-footer" style="padding: 0">
    <!--<div th:replace="footer :: footer">...</div>-->
</footer>
<!--  Scripts-->
<script th:src="@{/js/materialize.js}"></script>
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function () {
        var textNeedCount = document.querySelectorAll('#tempToken');
        M.CharacterCounter.init(textNeedCount);

        let tmpTokenF = $('#tempToken');
        let submit = $('#submit');

        if(tmpTokenF.val().length === 0){
            if(!submit.hasClass("disabled"))
                submit.addClass("disabled");
        }
        else{
            if(submit.hasClass("disabled"))
                submit.removeClass("disabled");
        }

        tmpTokenF.on('input',() => {
            tmpTokenF.val(tmpTokenF.val().toUpperCase());
            console.log(tmpTokenF.val().length);
            if(tmpTokenF.val().length < 4){
                if(!submit.hasClass("disabled"))
                    submit.addClass("disabled");
            }
            else{
                if(submit.hasClass("disabled"))
                    submit.removeClass("disabled");
            }

        })
    });
    /*]]>*/
</script>


</body>
</html>